/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

html, body {
    widht: 100%;
    height: 100%;
}
